@import "tailwindcss";

:root {
  --background: #fbf7f4;
  --foreground: #2b1d17;
  --muted: #8b6f66;
  --brand-ink: #8b4a2f;
  --brand-ink-soft: #8b6b61fd;
  --brand-ink-transparent: rgba(183, 167, 162, 0.556);
  --cream: #fdeee7;
  --accent-rose: #ee2d5d;
  --accent-peach: #f8cdb6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-cream: var(--cream);
  --color-rose: var(--rose);
  --color-rose-soft: var(--rose-soft);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .product-card {
    width: calc((100% - 72px) / 4);
  }
}

.bg-cream {
  background-color: var(--cream);
}

.bg-foreground {
  background-color: var(--foreground);
}
.bg-background {
  background-color: var(--background);
}

.color-foreground {
  color: var(--foreground);
}
.color-background {
  color: var(--background);
}

.text-muted {
  color: var(--muted);
}

.shadow-soft {
  box-shadow: var(--shadow);
}

.bg-brand-ink {
  background-color: var(--brand-ink);
}

.bg-brand-ink-soft {
  background-color: var(--brand-ink-soft);
}

.text-brand-ink {
  color: var(--brand-ink);
}

.text-brand-ink-soft {
  color: var(--brand-ink-soft);
}

.text-accent-rose {
  color: var(--accent-rose);
}

.bg-cream {
  background-color: var(--cream);
}

.bg-accent-peach {
  background-color: var(--accent-peach);
}

.text-accent-peach {
  color: var(--accent-peach);
}

.border-brand-ink-soft {
  border-color: var(--brand-ink-soft);
}

.hover\:text-accent-peach:hover {
  color: var(--accent-peach);
}
